.bgcolor3{
    background-color: white;
}
.explorehead{
    color:#183b56;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight:700;
}
.explorecards{
    border-radius: 16px;
}
.exploreimage{
    border-radius: 16px;
    height: 200px;
  width: 200px;
}
.cardhead4{
    color:#323f4b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;
}
.explorelink{
    color: #c90202;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}